[user]
	name = Tianhui Michael Li
	email = tianhuil@cs.princeton.edu
[core]
	excludesfile = ~/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pull]
	rebase = true
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	tree = log --pretty=oneline --graph --decorate --all
	gb grep -E -n $1 | while IFS=: read i j k; do git blame -L $j,$j $i | cat; done  # https://gist.github.com/lonnen/3101795
	type = cat-file -t
	dump = cat-file -p
	nl = log --name-only
	cp = cherry-pick
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"  # http://stackoverflow.com/questions/17847213/how-to-configure-git-push-to-automatically-set-upstream-without-u
	file-size-diff = !~/.scripts/file-size-diff.sh
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[branch]
	autosetuprebase = always
