[submodule "home/.agents/skills/_shared/anthropics-skills"]
	path = home/opencode/.config/opencode/skills/_shared/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "home/.config/opencode/plugins/open-queue"]
	path = home/opencode/.config/opencode/plugins/open-queue
	url = https://github.com/tianhuil/open-queue.git
[submodule "compound-engineering-src"]
	path = compound-engineering-src
	url = https://github.com/EveryInc/compound-engineering-plugin.git
